

<!-- CONTENU -->

<section class="page-header" style="background-image: url('assets/images/skyrise.jpg" );>
	<div class="container">
		<h1>CORPORATE BUILDING SERVICES</h1>
	</div>
</section>
<!-- /PAGE HEADER -->

<!-- -->
<section>
	<div class="container">

		<p class="lead">Over the last 170 years, Otis has helped to transform cities, shape skylines and change
			how people live and work. We connect people to one another and the places they need to go – we bring
			the world together. As we look to the future, we must ensure that the connections we help to make,
			whether personal, physical or technological, are inclusive, smart, sustainable and ethical. We
			created our Environmental, Social & Governance (ESG) program to measure our progress against these
			high standards and focus on four key areas of our business.</p>

		<div class="divider divider-center divider-color">
			<!-- divider -->
			<i class="fa fa-chevron-down"></i>
		</div>

		<!-- BORN TO BE A WINNER -->
		<article class="row">
			<div class="col-md-6">
				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over m-0"
					data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
					<div>
						<img class="img-fluid" src="assets/images/2penascensor.jpeg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="assets/images/comercial2.jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="assets/images/custom2.jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="assets/images/elevadoresblancoygris.jpeg" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->
			</div>
			<div class="col-md-6">
				<h3>RocketElevators : Made to move you</h3>
				<p>We move 2 billion people a day and maintain more than 2 million customer units worldwide, the
					industry’s largest portfolio. We can be found in many of the world’s most recognizable
					buildings as well as the busiest transportation hubs and retail centers. We are everywhere
					people are on the move.</p>

				<p>Our success is rooted in our culture of innovation, the trust our customers place in us and
					the values that define us.</p>

				<p>Our Vision: We give people freedom to connect and thrive in a taller, faster, smarter world.
				</p>

				<p>Our Mission:To be a world-class, customer-centric, service-oriented company.</p>

				<p>Our Values :We put people at the center of everything we do.
					We are reliable, smart and focused on the future.
					We are creating a more personal, connected world.
					We roll up our sleeves to get it done.</p>
			</div>
		</article>
		<!-- /BORN TO BE A WINNER -->

	</div>
</section>
<!-- / -->

<!-- -->
<section>
	<div class="container">

		<h2 class="fs-25">What else we can offer?</h2>

		<p class="lead">We helped build cities, transformed how people live and work, and revolutionized
			architecture itself. We are continuing to lead the industry we created more than 168 years ago.</p>

		<div class="mt-60">
			<ul class="nav nav-tabs nav-clean">
				<li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Low-rise
						Elevators</a></li>
				<li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Mid-rise Elevators</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">High-rise Elevators</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="tab1" class="tab-pane active">
					<img class="float-left" src="assets/images/elevadorsolo.jpeg" width="200" alt="" />
					<p>In low-rise buildings up to five floors, Rocket Elevators as many passenger
						transportation solutions available. And, to us, low rise does not mean low cost , Rocket
						Elevators has an entire range to service low-rise buildings, always providing safety,
						comfort and energy efficiency. With machine room and machine room-less arrangements,
						space saving is always considered.
						Quality and technology are maintained at all price points and options.
					<p>
				</div>
				<div id="tab2" class="tab-pane fade">
					<img class="float-right" src="assets/images/gen2.jpg" width="200" alt="" />
					<p>Rocket Elevators is uniquely poised to capture this in-between building size that is
						constructed all over the world. With our Gen2 elevator technology, we promise comfort,
						reliability and performance at all price points. You know about our experience and
						knowledge in providing passenger transportation solutions for countless innovative
						high-rise buildings. We translate that into a high-quality, mid-rise solution that
						provides an amazing high rise-style experience. In addition, our compass destination
						management software is available at the mid-rise level allowing for dispatching and
						floor access rights in the configuration of your choice.
					<p>
				</div>
				<div id="tab3" class="tab-pane fade">
					<img class="float-right" src="assets/images/skyrise.jpg" width="200" alt="" />
					<p> Rocket Elevators offers the best solutions to manage vertical transportation in
						elevators in high rise buildings. High rise buildings are classified as buildings with
						more than 12 floors, and can require custom designs for managing car arrangements with
						single, double, and super double deck solutions as well as lobby arrangements. In
						addition, elevator planning for high rise buildings with Rocket Elevators includes
						performance equipment design for high speed, as well as counting in factors like
						performance, quality and high traffic.
					<p>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- / -->

<!-- -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<h3 class="fs-20">Why chose us?</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-check"></i> One of the oldest and largest elevator companies in the
						world.</li>
					<li><i class="fa fa-check"></i> Exceptional Service to the highest safety standards. </li>
					<li><i class="fa fa-check"></i> A more personalized experience.</li>
					<li><i class="fa fa-check"></i> We use the highest quality and technology that exists.
						Certified OEM parts </li>
					<li><i class="fa fa-check"></i> 24/7 expert support.</li>
				</ul>
			</div>

			<div class="col-md-6">
				<h3 class="fs-20 text-center">What Smarty clients say?</h3>
				<!-- 
						Note: remove class="rounded" from the img for squared image!
					-->
				<ul class="row clearfix testimonial-dotted list-unstyled">
					<li class="col-md-6">
						<div class="testimonial">
							<figure class="float-left">
								<img class="rounded" src="assets/images/faceman1.jpg" alt="" />
							</figure>
							<div class="testimonial-content">
								<p>“Your personal commitment to overseeing our elevator systems continue to make
									our projects a success, and you and your team continuously exceed our
									expectations. You are truly a trusted resource and partner.”</p>
								<cite>
									fernando R.
									<span> 4seasons Company .</span>
								</cite>
							</div>
						</div>
					</li>
					<li class="col-md-6">
						<div class="testimonial">
							<figure class="float-left">
								<img class="rounded" src="assets/images/faceman2.jpg" alt="" />
							</figure>
							<div class="testimonial-content">
								<p>“Since switching our elevator support to your company, we are pleased to see
									a significant downward trend in elevator failure incidents. We wish to
									acknowledge your technician for his knowledge, hard work, and commitment to
									always making himself readily available to all of our emergency calls to
									keep patients, staff, and visitors safe.”</p>
								<cite>
									Luis V.

								</cite>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- / -->

<!-- 
	CALLOUT

	FULLWIDTH: OUTSIDE OF <section> 

		Available Classes:
		alert-default
		alert-info
		alert-warning
		alert-danger
		alert-success
		alert-dark
	-->

<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">

	<div class="text-center">

		<h3>Call now at <span><strong>+800-565-2390</strong></span> and get 15% discount!</h3>
		<p class="font-lato fs-20">
			We truly care about our users and our product.
		</p>

		<a href="/#divFormContact" class="btn btn-primary btn-lg btn-round mt-30">CONTACT US NOW</a>

	</div>

</div>
<!-- /CALLOUT -->
<!-- CONTENU -->






 <!-- JAVASCRIPT FILES -->
<script>var plugin_path = 'assets/plugins/';</script>
<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

<script src="assets/js/scripts.js"></script>

<!-- STYLESWITCHER - REMOVE -->
<script async src="demo_files/styleswitcher/styleswitcher.js"></script>

<!-- REVOLUTION SLIDER -->
<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/view/demo.revolution_slider.js"></script>

<!-- PAGELEVEL SCRIPTS -->
<script src="assets/js/contact.js"></script>

<%#<!-- 
GMAP.JS 
http://hpneo.github.io/gmaps/
-->
<script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
<script src="assets/plugins/gmaps.js"></script>
<script>

jQuery(document).ready(function () {

	/**
		@BASIC GOOGLE MAP
	**/
	var map2 = new GMaps({
		div: '#map2',
		lat: -12.043333,
		lng: -77.028333,
		scrollwheel: false
	});

	var marker = map2.addMarker({
		lat: -12.043333,
		lng: -77.028333,
		title: 'Company, Inc.'
	});

});

</script> %>
