<div id="revslider" class="slider fullwidthbanner-container roundedcorners">
   <!-- 
      AVAILABLE HEADER CLASSES
      
      Default nav height: 96px
      .header-md 		= 70px nav height
      .header-sm 		= 60px nav height
      
      .b-0 		= remove bottom border (only with transparent use)
      .transparent	= transparent header
      .translucent	= translucent header
      .sticky			= sticky header
      .static			= static header
      .dark			= dark header
      .bottom			= header on bottom
      
      	data-navigationStyle="" theme default navigation
      	
      	data-navigationStyle="preview1"
      	data-navigationStyle="preview2"
      	data-navigationStyle="preview3"
      	data-navigationStyle="preview4"
      	
      Bottom Shadows
      	data-shadow="1"
      	data-shadow="2"
      	data-shadow="3"
      	
      Slider Height (do not use on fullscreen mode)
      	data-height="300"
      	data-height="350"
      	data-height="400"
      	data-height="450"
      	data-height="500"
      	data-height="550"
      	data-height="600"
      	data-height="650"
      	data-height="700"
      	data-height="750"
      	data-height="800"
      -->
   <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
      <ul class="hide">
         <!-- SLIDE1  -->
         <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="1000"
            data-saveperformance="off" data-title="Architectural View" data-delay="7000">
            <!-- MAIN IMAGE -->
            <img src="assets/images/elevadorcilindro.jpeg" alt="cover image" data-bgposition="center top"
               data-bgfit="cover" data-bgrepeat="repeat">
            <div class="overlay dark-6">
               <!-- dark overlay [0 to 9 opacity] -->
            </div>
            <div class="tp-caption white_big skewfromleft tp-resizeme stroke-text" data-x="350" data-y="120"
               data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
               style="z-index: 2; color:#ff2b5e; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
               Rocket
            </div>
            <div class="tp-caption white_big skewfromleft tp-resizeme stroke-text" data-x="580" data-y="120"
               data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
               style="z-index: 2; color:#0b63a0; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
               Elevators
            </div>
            <div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="470" data-y="220"
               data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
               style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none; font-weight: bold;">
               Elevate safety, speed and style.
            </div>
            <div class="tp-caption sfb tp-resizeme" data-x="420" data-y="300" data-speed="500"
               data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
               data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
               <a class="btn btn-blue btn-lg" href="quotes" target="_blank">GET A QUOTE &nbsp; <i
                  class="fa fa-angle-right"></i></a>
            </div>
            <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="620" data-y="300"
               data-speed="500" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
               style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
               <a class="btn btn-primary btn-lg" href="#services">OUR SERVICES &nbsp; <i
                  class="fa fa-angle-right"></i></a>
            </div>
         </li>
         <!-- SLIDE2  -->
         <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="1000"
            data-saveperformance="on" data-title="Bright Future" data-delay="7000">
            <!-- MAIN IMAGE -->
            <img src="assets/images/elevadortransparente.jpeg" alt="cover image"
               data-bgposition="center top" data-bgfit="cover" data-bgrepeat="repeat">
            <div class="overlay dark-6">
               <!-- dark overlay [0 to 9 opacity] -->
            </div>
            <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="200"
               data-speed="500" data-start="1000" data-easing="Cubic.easeOut" data-splitin="none"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
               Residential Services
            </div>
            <div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="280" data-speed="500"
               data-start="1500" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
               data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
               Helping to modernize your home
            </div>
            <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="350" data-speed="500"
               data-start="2000" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
               data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 4; max-width: auto;">
               <a class="btn btn-primary btn-lg" href="/residential" target="_blank">MORE
               DETAILS </a>
            </div>
         </li>
         <!-- SLIDE3  -->
         <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="1000"
            data-saveperformance="off" data-title="Bright Future" data-delay="7000">
            <!-- MAIN IMAGE -->
            <img src="assets/images/entrandoelevador.jpeg" alt="cover image" data-bgposition="center top"
               data-bgfit="cover" data-bgrepeat="repeat">
            <div class="overlay dark-6">
               <!-- dark overlay [0 to 9 opacity] -->
            </div>
            <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="190"
               data-speed="500" data-start="1000" data-easing="Cubic.easeOut" data-splitin="none"
               data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
               Corporate Services
            </div>
            <div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="280" data-speed="500"
               data-start="1500" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
               data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
               Provide comfort and safety to your customers <br />
               with our products.
            </div>
            <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="370" data-speed="500"
               data-start="2000" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
               data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
               style="z-index: 4; max-width: auto;">
               <a class="btn btn-primary btn-lg" href="/corporate" target="_blank">MORE
               DETAILS</a>
            </div>
         </li>
      </ul>
   </div>
</div>
<!-- /REVOLUTION SLIDER -->
<hr class="m-0" />
<!-- 1px line separator -->
<!-- BUTTON CALLOUT -->
<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
<span class="font-lato fs-30">
Did Rocket Elevator convince you?
<strong>Contact us &raquo;</strong>
</span>
</a>
<!-- /BUTTON CALLOUT -->
<!-- Services -->
<section id="services">
   <div class="container">
      <div class="row">
         <div class="col-sm-4">
            <img class="img-fluid img-resize-services" src="assets/images/elevadordesdearriba.jpeg"
               alt="img" />
            <h3 class="mt-10">Our Company</h3>
            <p>Our company has won numerous awards and participated in many major projects.</p>
            <a href="#portfolio" class="btn btn-default">READ MORE</a>
         </div>
         <div class="col-sm-4">
            <img class="img-fluid img-resize-services" src="assets/images/dedoelevador.jpeg" alt="img" />
            <h3 class="mt-10">Residential buildings</h3>
            <p> Our company offers a variety of services for residential buildings.</p>
            <a href="/residential" class="btn btn-default">READ MORE</a>
         </div>
         <div class="col-sm-4">
            <img class="img-fluid img-resize-services" src="assets/images/ascensorrojo.jpeg" alt="img" />
            <h3 class="mt-10">Corporate buildings</h3>
            <p>Our company offers a high quality service for corporate buildings.</p>
            <a href="/corporate" class="btn btn-default">READ MORE</a>
         </div>
      </div>
   </div>
</section>
<!-- /Services -->
<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('assets/images/dedoelevador.jpeg');">
   <div class="overlay dark-5">
      <!-- dark overlay [1 to 9 opacity] -->
   </div>
   <div class="container">
      <div class="text-center">
         <h2 class="fs-40 fw-300">The great elevators since 1976</h2>
         <a class="btn btn-default btn-lg" href="quotes">REQUEST A QUOTE <i
            class="fa fa-angle-right"></i></a>
         &nbsp; OR &nbsp;
         <a class="btn btn-danger btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
      </div>
   </div>
</section>
<!-- /Parallax -->
<!-- PORTFOLIO -->
<section id="portfolio">
   <div class="container-fluid">
      <div class="heading-title heading-dotted text-center">
         <h2>Our Portfolio</h2>
      </div>
      <div class="text-center">
         <ul class="nav nav-pills mix-filter mb-60">
            <li data-filter="all" class="filter active"><a href="#">All</a></li>
            <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
            <li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
            <li data-filter="design" class="filter"><a href="#">Prizes</a></li>
         </ul>
      </div>
   </div>
   <div id="portfolio" class="portfolio-nogutter">
      <div class="row mix-grid">
         <div class="col-md-3 col-sm-3 mix design">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/customelevator.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details 
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-1.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <%# img-resize-portfolio %>
                  <img class="img-fluid " src="assets/images/customelevator.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>Custom Elevator</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Design</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/wheelchair.jpg"
                           data-plugin-options='{"type":"image"}'	 height="100%">
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-2.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <%# img-resize-portfolio %>
                  <img class="img-fluid " src="assets/images/wheelchair.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3> Elevator For Reduced Mobility</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Design</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/xcasaelevador.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-3.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <%# img-resize-portfolio %>
                  <img class="img-fluid " src="assets/images/xcasaelevador.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3> Custom Elevator Bordeaux</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Design</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/Ele-home-2.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox" href="assets/ajax/portfolio-detail-modal-2.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/Ele-home-2.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>Elevator Custom residential in Toronto </h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Design</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix corporate">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/elevator_doors.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-4.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/elevator_doors.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>Elevators at the Four Seasons Hotel Toronto</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Corporate</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix corporate">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/corporate2.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-5.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/corporate2.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3> Comercial Elevators</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Corporate</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix corporate">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/CN_Tower_04.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-6.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/CN_Tower_04.jpg"
                     width="600" height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3> CN Tower Elevator</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">Corporate</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix corporate">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/dubai2.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-7.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/dubai2.jpg" width="600"
                     height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>Eiffel Tower, the Empire State Building <br>and Burj Khalifa</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Project</a></li>
                     <li><a href="#">International Projects</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix design">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/best2019.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-8.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a> -->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/best2019.jpg" width="600"
                     height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>Best Supplier – Complete Elevator Systems 2019</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Awards</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix design">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/awards1.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-9.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/awards1.jpg" width="600"
                     height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>Best Supplier - Complete Elevator Systems 2020</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Awards</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix design">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/R2-01.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-11.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/R2-01.jpg" width="600"
                     height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>We are universally acknowledged as one of the best in the world.</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Awards</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix design">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/safety2.jpg"
                           data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                        <!-- details --
                           <a class="ico-rounded lightbox"
                           	href="assets/ajax/portfolio-detail-modal-temp-10.html"
                           	data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                           	<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                           </a>-->
                     </span>
                  </span>
                  <img class="img-fluid" src="assets/images/safety2.jpg" width="600"
                     height="399" alt="">
               </figure>
               <div class="item-box-desc">
                  <h3>we have been recognized by the Forbes Health editorial team as the best useful home
                     elevators for people with disabilities or limited mobility.
                  </h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Awards</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
      </div>
   </div>
</section>
<!-- /PORTFOLIO -->
<!-- Testimonials -->
<section class="section-xs dark">
   <div class="container">
      <div class="owl-carousel text-center owl-testimonial m-0"
         data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
         <div class="testimonial">
            <figure>
               <img class="rounded" src="assets/images/meveg.png" alt="" />
            </figure>
            <div class="testimonial-content p-0">
               <p class="lead">To serve the world by encreasing Safety,<br> Security and Comfort .</p>
               <cite>
               Marie-Ève Goupil
               <span>CEO</span>
               </cite>
            </div>
         </div>
         <div class="testimonial">
            <figure>
               <img class="rounded" src="assets/images/laura31.jpg" alt="" />
            </figure>
            <div class="testimonial-content p-0">
               <p class="lead">Your management skills and ability to prioritize made us effective.
                  Congratulations on achieving the target and for winning the award for employee of the
                  month.
               </p>
               <cite>
               Laura Navarro
               <span>Employee of the month.</span>
               </cite>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /Testimonials -->
<!-- News -->
<section id="news">
   <div class="container">
      <div class="heading-title heading-dotted text-center">
         <h2>News</h2>
      </div>
      <!-- 
         controlls-over		= navigation buttons over the image 
         buttons-autohide 	= navigation buttons visible on mouse hover only
         
         data-plugin-options:
         	"singleItem": true
         	"autoPlay": true (or ms. eg: 4000)
         	"navigation": true
         	"pagination": true
         	"items": "4"
         
         owl-carousel item paddings
         	.owl-padding-0
         	.owl-padding-3
         	.owl-padding-6
         	.owl-padding-10
         	.owl-padding-15
         	.owl-padding-20
         -->
      <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
         data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
         <div class="img-hover">
            <a href="https://www.kone.com/en/news-and-insights/releases/kone-publishes-january-june-2022-half-year-financial-report-on-wednesday--july-20--2022-at-12-30-p-m--eest-2022-07-06.aspx"
               target="_blank">
            <img class="img-fluid" src="assets/images/elevdesdeabajo.jpeg" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html">Rocket Elevators publishes a
               financial report</a>
            </h4>
            <p class="text-left">KONE publishes January-June 2022 Half-year Financial Report.</p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  20th july 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  3
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.tssa.org/Modules/news/Search.aspx?feedId=7b882e28-3b4f-4044-ba7f-6df58a31ce1b&keyword=&date=07/01/2022"
               target="_blank">
            <img class="img-fluid" src="assets/images/meeting.jpg" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html">Important Update: OPSEU Strike
               and TSSA's Plans</a>
            </h4>
            <p class="text-left">OPSEU, the union representing TSSA inspectors, made the decision to
               commence a strike starting July 21, 2022, before the parties had a chance to reach an
               agreement.
               TSSA has been engaging in good faith negotiations with OPSEU since the fall of 2021 to
               finalize a first collective agreement for inspectors.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  21th july 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  4
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.otis.com/en/us/news?cn=otis-supports-smart-mobility-at-futuristic-vivo-r-d-center-in-east-china"
               target="_blank">
            <img class="img-fluid" src="assets/images/vivo1.jpg" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html">Rocket Elevators Supports Smart
               Mobility at Futuristic Vivo R&D Center in East China</a>
            </h4>
            <p class="text-left">The inspiring design of the Vivo R&D Center in East China poses challenges
               for vertical transportation that Rocket Elevators technology and expertise can address.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  21th july 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  13
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.cpsc.gov/Newsroom/News-Releases/2022/CPSC-Urgent-Warning-Stop-Using-Waupaca-Residential-Elevators-Due-to-Fatal-Entrapment-and-Serious-Fall-Hazards"
               target="_blank">
            <img class="img-fluid" src="assets/images/fatal.png" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html">CPSC Urgent Warning</a></h4>
            <p class="text-left">WASHINGTON, D.C. – The U.S. Consumer Product Safety Commission (CPSC) is
               warning consumers about deadly hazards posed by Waupaca Elevator Company, Inc. residential
               elevators.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  11th Jan 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  15
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.iaec.org/" target="_blank">
            <img class="img-fluid" src="assets/images/IAEC.jpg" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html">International Association of
               Elevator Consultants</a>
            </h4>
            <p class="text-left">The International Association of Elevator Consultants (IAEC) creates a
               forum for exchanging ideas, experiences, innovations, and discussing regulations.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  29th Jan 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  8
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.kone.ca/en/stories-and-references/references/westend-gate.aspx"
               target="_blank">
            <img class="img-fluid" src="assets/images/future.jpg" alt="">
            </a>
            <h4 class="text-left mt-20"><a href=blog-single-default.html>Rocket Elevators collaborated with
               the modernization of the Westend Gate building elevators.</a>
            </h4>
            <p class="text-left">To minimize time and save resources, Rocket Elevators began by improving
               ease of access to the building. They refurbished the building doors and improved the secure
               entrance to the building.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  29th Jan 2017
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  3
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.tkelevator.com/global-en/newsroom/press-releases/tk-elevator-takes-product-safety-and-security-to-new-heights-%E2%80%93cybersecurity-standards-confirmed-by-tuev-nord-146816.html"
               target="_blank">
            <img class="img-fluid" src="assets/images/tuvnord.png" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html">Rocket Elevators takes product
               safety and security to new heights –cybersecurity standards confirmed by Tüv Nord</a>
            </h4>
            <p class="text-left">TÜV NORD, one of the leading technical service providers, has now certified
               the company in accordance with the IEC 62443-4-1 standard, and thereby confirmed that Rocket
               Elevator's products meet the highest international standards for cybersecurity.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  07th Sep 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  35
                  </a>
               </li>
            </ul>
         </div>
         <div class="img-hover">
            <a href="https://www.tkelevator.com/global-en/newsroom/press-releases/tk-elevators-new-s100-stairlift-brings-secure-home-mobility-to-the-next-level-146240.html"
               target="_blank">
            <img class="img-fluid" src="assets/images/stairlift.png" alt="">
            </a>
            <h4 class="text-left mt-20"><a href="blog-single-default.html"> Rocket Elevator’s new s100
               stairlift brings secure home mobility to the next level</a>
            </h4>
            <p class="text-left"> For those for whom home mobility becomes an obstacle, Rocket Elevators
               provides secure solutions for maximum independence.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
               <li>
                  <i class="fa fa-calendar"></i>
                  03th Mars 2022
               </li>
               <li>
                  <a href="blog-single-default.html#comments">
                  <i class="fa fa-comments"></i>
                  20
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- /News -->
<!-- Clients -->
<section id="clients" class="alternate">
   <div class="container">
      <div class="heading-title heading-dotted text-center">
         <h2>Our Clients</h2>
      </div>
      <ul class="row clients-dotted list-inline">
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/4seasonslogo.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/burjhotel.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/robertocavali.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/ea.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/audi.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/teslalogo.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/lambo.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/microsoft.png" alt="client" />
            </a>
         </li>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/codeboxxlogo.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/canadalogo.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/smirnof.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="#">
            <img class="img-fluid img-resize-logo" src="assets/images/nasa.png" alt="client" />
            </a>
         </li>
      </ul>
   </div>
</section>
<!-- /Clients -->
<!-- CONTACT -->
<section id="contact">
   <div class="container">
      <header class="text-center mb-60">
         <h2>Contact Us</h2>
         <hr />
      </header>
      <div class="row">
         <!-- INFO -->
         <div class="col-md-4 col-sm-4">
            <h2>Visit Us</h2>
            <!-- 
               Available heights
               	h-100
               	h-150
               	h-200
               	h-250
               	h-300
               	h-350
               	h-400
               	h-450
               	h-500
               	h-550
               	h-600
               -->
            <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.407002445948!2d-71.29887984888542!3d46.83567727903871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897ec14ccae45%3A0xf399b05f6507289e!2sBd%20Lebourgneuf%2C%20Qu%C3%A9bec%2C%20QC!5e0!3m2!1sfr!2sca!4v1663896717993!5m2!1sfr!2sca"
               class="h-400" style="border:0;" allowfullscreen="" loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>
            <hr />
            <p>
               <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 1165 Bd
               Lebourgneuf, Quebec, Canada</span>
               <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a
                  href="tel:1800-555-1234">1800-887-2497</a></span>
               <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a
                  href="mailto:mail@yourdomain.com">info@codeboxx.biz</a></span>
            </p>
         </div>
         <!-- /INFO -->
         <!-- FORM -->
         <div id="divFormContact" class="col-md-8 col-sm-8">
            <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>
            <!--
               MESSAGES
               
               	How it works?
               	The form data is posted to php/contact.php where the fields are verified!
               	php.contact.php will redirect back here and will add a hash to the end of the URL:
               		#alert_success 		= email sent
               		#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
               		#alert_mandatory	= email not sent - required fields empty
               		Hashes are handled by assets/js/contact.js
               
               	Form data: required to be an array. Example:
               		contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
               		Also, add `required` to input fields if is a mandatory field. 
               		Example: <input required type="email" value="" class="form-control" name="contact[email][required]">
               
               	PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
               					ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP
               
               	WARNING! Do not change the `email` and `name`!
               				contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
               				contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
               -->
            <!-- Alert Success -->
            <div id="alert_success" class="alert alert-success mb-30">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               <strong>Thank You!</strong> Your message successfully sent!
            </div>
            <!-- /Alert Success -->
            <!-- Alert Failed -->
            <div id="alert_failed" class="alert alert-danger mb-30">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               <strong>[SMTP] Error!</strong> Internal server error!
            </div>
            <!-- /Alert Failed -->
            <!-- Alert Mandatory -->
            <div id="alert_mandatory" class="alert alert-danger mb-30">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
            </div>
            <!-- /Alert Mandatory -->
            <form id="form-lead" autocomplete="on" action="/leads" method="post" enctype="multipart/form-data">
               <fieldset>
                  <input type="hidden" name="action" value="contact_send" />
                  <div class="row">
                     <div class="col-md-6">
                        <label for="contact:name">Full Name *</label>
                        <input required type="text" value="" class="form-control"
                           name="contact[name][required]" id="contact:fullName">
                     </div>
                     <div class="col-md-6">
                        <label for="contact:name">Business Name *</label>
                        <input required type="text" value="" class="form-control"
                           name="contact[name][required]" id="contact:businessName">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label for="contact:email">E-mail Address *</label>
                        <input required type="email" value="" class="form-control"
                           name="contact[email][required]" id="contact:email">
                     </div>
                     <div class="col-md-6">
                        <label for="contact:phone">Phone</label>
                        <input type="text" value="" class="form-control" name="contact[phone]"
                           id="contact:phone">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <label for="contact_department">Department</label>
                        <select class="form-control pointer" name="contact[department]">
                           <option value="">--- Select ---</option>
                           <option value="Marketing">Marketing</option>
                           <option value="Webdesign">Webdesign</option>
                           <option value="Architecture">Architecture</option>
                        </select>
                     </div>
                     <div class="col-md-8">
                        <label for="contact:project_name">Project Name</label>
                        <input type="text" value="" class="form-control" name="contact[project_name]"
                           id="contact:projectName">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <label for="contact:project_description">Project Description *</label>
                        <textarea required maxlength="10000" rows="5" class="form-control"
                           name="contact[project_description]" id="contact:projectDescription"></textarea>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <label for="contact:message">Message *</label>
                        <textarea required maxlength="10000" rows="5" class="form-control"
                           name="contact[message]" id="contact:message"></textarea>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <label for="contact:attachment">File Attachment</label>
                        <!-- custom file upload -->
                        <input class="custom-file-upload" type="file" id="file"
                           name="contact[attachment]" id="contact:attachment"
                           data-btn-text="Select a File" />
                        <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
                     </div>
                  </div>
               </fieldset>
               <div class="row">
                  <div class="col-md-12">
                     <button type="button" class="btn btn-primary" onclick="showMessage()"><i class="fa fa-check"></i> SEND MESSAGE</button>
                  </div>
               </div>
            </form>
         </div>
         <!-- /FORM -->
      </div>
   </div>
</section>
<!-- /CONTACT -->