
<!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
<section class="page-header" style="background-image: url('assets/images/house.jpg" );>
	<div class="container">

		<h1>RESIDENTIAL BUILDING SERVICES</h1>

	</div>
</section>
<!-- /PAGE HEADER -->

<!-- -->
<section>
	<div class="container">

		<p class="lead">Home is where people want to feel safe. At Rocket Elevators, we take that to the next
			level with our understanding of residential buildings. Designs from standard to custom, there is no
			compromise on quality at any cost point, knowing that the goal is to have a safe, reliable mode of
			transportation for buildings where people live. Fast response and transparent communication also
			come standard with our service packages catered for the residential building.</p>

		<div class="divider divider-center divider-color">
			<!-- divider -->
			<i class="fa fa-chevron-down"></i>
		</div>

		<!-- BORN TO BE A WINNER -->
		<article class="row">
			<div class="col-md-6">
				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over m-0"
					data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
					<div>
						<img class="img-fluid" src="assets/images/2casaelevador.jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="assets/images/design3.jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="assets/images/custom2.jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="assets/images/residential2.jpg" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->
			</div>
			<div class="col-md-6">
				<h3>Residential Elevators</h3>
				<p>Rocket Elevators makes a range of elevators for residential use including the new Zenith home
					elevator featuring an ultra-quiet drive system with machine roomless option. We also offer
					the Rocket Infinity, with smooth riding hydraulic drive and our best-selling Savaria Eclipse
					elevator with its chain drive system. Our traditional elevators are fully automatic and
					operate with the touch of a button. All of these products offer the same wide selection of
					finishing options for the elevator cab interior, operating fixtures and doors or gates. Our
					cab configurator helps you visualize how the elevator will look with virtually any
					combination of factory-provided options.</p>

				<p>Our success is rooted in our culture of innovation, the trust our customers place in us and
					the values that define us.</p>

				<p>Our Vision: We give people freedom to connect and thrive in a taller, faster, smarter world.
				</p>

				<p>Our Mission:To be a world-class, customer-centric, service-oriented company.</p>

				<p>Our Values :We put people at the center of everything we do.
					We are reliable, smart and focused on the future.
					We are creating a more personal, connected world.
					We roll up our sleeves to get it done.</p>
			</div>
		</article>
		<!-- /BORN TO BE A WINNER -->

	</div>
</section>
<!-- / -->

<!-- -->
<section>
	<div class="container">

		<h2 class="fs-25">What else we can offer?</h2>

		<p class="lead">Residential elevators are available with the latest energy-efficient features built in.
			Sustainable modernization upgrade packages are also available for existing elevators. Our company is
			committed to technology that reduces our impact on the planet, this is true for all of our equipment
			including those designed specifically with your residential buildings in mind.</p>

		<div class="mt-60">
			<ul class="nav nav-tabs nav-clean">
				<li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Hydraulic Home
						Elevator</a></li>
				<li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Traction Home Elevator
					</a></li>
				<li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">People With Reduced
						Mobility Elevator</a></li>
				<li class="nav-item"><a class="nav-link" href="#tab4" data-toggle="tab">Custom Plus</a></li>
			</ul>

			<div class="tab-content">
				<div id="tab1" class="tab-pane active">
					<img class="float-left" src="assets/images/torontoelevator3.jpg" width="200" alt="" />
					<p>The hydraulic home villa elevator adopts advanced oil cylinder, pump station and control
						valve, and its high-precision proportional valve can realize infinitely adjustable
						speed, which makes the elevator run smoothly.
						Product features:
						1. No need to set up a high-demand and high-cost machine room above the shaft, and it
						can be flush with the roof.
						2. High utilization rate of shaft: Hydraulic elevator does not need to set up
						counterweight device, which can improve the utilization rate of shaft area.
						3. Low structural strength requirement of shaft. The vertical loads such as the cabin
						weight and load of hydraulic elevator are all acted on the foundation of the shaft
						through the hydraulic cylinder, so the requirements for the building performance of the
						wall and top of the shaft are low.
					<p>
				</div>
				<div id="tab2" class="tab-pane fade">
					<img class="float-right" src="assets/images/design1.jpg" width="200" alt="" />
					<p>Characteristics
						1. No need for traditional machine room; save construction cost.
						2. Backpack frame type and gantry frame type elevator structure can be adopted according
						to the demand of opening door of house structure.
						3. WVF drive technology: special microcomputer board control for home villa elevator,
						smooth and comfortable.
						4. Special traction machine frame: fixed in the rail, the building can not bear the
						force.
						5. Main machine: 220V single-phase power supply can be used, ordinary household
						electricity, no need to apply for industrial power supply separately.
						6. Automatic special door machine: frequency conversion and energy saving, safe and
						reliable.
						7. UPS (backup power supply): in the event of a power outage can be put in emergency,
						the total rated power of 1.5KW when running (including the drive system 1.1KW).
					<p>
				</div>
				<div id="tab3" class="tab-pane fade">
					<img class="float-right" src="assets/images/prizehandicap.jpg" width="200" alt="" />
					<p>A home elevator for disabled persons is a complete solution for all accessibility
						problems posed by a building. With a closed-shaft elevator, anyone and everyone can
						access the building from outside and get to any floor. This is the most inclusive way of
						allowing free access to an entire building, whether your home or a public building,
						since anyone can use it regardless of their degree of mobility.
						Easy to operate and designed for long-term use, our elevators last a long time and
						operate for many years, giving you peace of mind about your mobility or the mobility of
						your clientele. Learn more about our models to find the elevator that best suits your
						needs.
					<p>
				</div>

				<div id="tab4" class="tab-pane fade">
					<img class="float-right" src="assets/images/projectsworld.jpg" width="200" alt="" />
					<p>Our Custom Plus series builds off of the functionality of our Custom line by allowing you
						to realize your design dreams without compromise. The Custom Plus series offers a
						variety of custom finishing options including but not limited to Décor Matching, Painted
						Interiors, Hardwood Interiors, Custom Lighting Schemes, and Full Custom designs. We have
						a full work shop at our disposal and will work with you to design an elevato to suit
						your specific needs.
					<p>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- / -->

<!-- -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<h3 class="fs-20">Why chose us?</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-check"></i> One of the oldest and largest elevator companies in the
						world.</li>
					<li><i class="fa fa-check"></i> Exceptional Service to the highest safety standards. </li>
					<li><i class="fa fa-check"></i> A more personalized experience.</li>
					<li><i class="fa fa-check"></i> We use the highest quality and technology that exists.
						Certified OEM parts </li>
					<li><i class="fa fa-check"></i> 24/7 expert support.</li>
				</ul>
			</div>

			<div class="col-md-6">
				<h3 class="fs-20 text-center">What Smarty clients say?</h3>
				<!-- 
							Note: remove class="rounded" from the img for squared image!
						-->
				<ul class="row clearfix testimonial-dotted list-unstyled">
					<li class="col-md-6">
						<div class="testimonial">
							<figure class="float-left">
								<img class="rounded" src="assets/images/imageface1.jpg" alt="" />
							</figure>
							<div class="testimonial-content">
								<p>“They did super satisfying job in my house.
									They are professional people who are in the business for decades. They know
									what they are doing and actually the most important, so punctual and loyal.
									I really recommend the Federal elevator for residential properties.”</p>
								<cite>
									Luisa V.
									<span>Brampton, ON.</span>
								</cite>
							</div>
						</div>
					</li>
					<li class="col-md-6">
						<div class="testimonial">
							<figure class="float-left">
								<img class="rounded" src="assets/images/imageface2.jpg" alt="" />
							</figure>
							<div class="testimonial-content">
								<p>“Good price. Good service. good post installation service when needed...
									Would certainly use them again.”</p>
								<cite>
									Fernanda R.
									<span>Farmington, USA.</span>
								</cite>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- / -->

<!-- 
		CALLOUT

		FULLWIDTH: OUTSIDE OF <section> 

			Available Classes:
			alert-default
			alert-info
			alert-warning
			alert-danger
			alert-success
			alert-dark
		-->

<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">

	<div class="text-center">

		<h3>Call now at <span><strong>+800-565-2390</strong></span> and get 15% discount!</h3>
		<p class="font-lato fs-20">
			We truly care about our users and our product.
		</p>

		<a href="/#divFormContact" class="btn btn-primary btn-lg btn-round mt-30">CONTACT US NOW</a>

	</div>

</div>
<!-- /CALLOUT -->
<!-- CONTENU -->